---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import InteractiveFeatures from "../components/InteractiveFeatures";
import BusinessTypes from "../components/BusinessTypes.astro";
import Pricing from "../components/Pricing.astro";
import MeserosPro from "../components/MeserosPro.astro";
import ClientLogos from "../components/ClientLogos.astro";
import Testimonials from "../components/Testimonials";
import SocialProof from "../components/SocialProof";
import FAQ from "../components/FAQ";
import Contact from "../components/Contact.astro";
import WhatsAppButton from "../components/WhatsAppButton";
import Footer from "../components/Footer.astro";
---

<Layout title="Nodo - Software de Facturación y Gestión Empresarial">
	<Navbar client:load />
	<main>
		<Hero />
		<Features />
		<InteractiveFeatures client:load />
		<BusinessTypes />
		<ClientLogos />
		<Pricing />
		<MeserosPro />
		<Testimonials client:load />
		<SocialProof client:load />
		<FAQ client:load />
		<Contact />
	</main>
	<WhatsAppButton client:load />
	<Footer />
</Layout>
